exclude .dockerignore
exclude .editorconfig
exclude .gitignore
exclude .travis.yml

include LICENSE
include README.rst
include CHANGELOG.rst
include AUTHORS.rst

prune .cache
prune .git
prune build
prune dist
recursive-include tests *
